swagger: '2.0'
info:
  title: SSC 3.0 基础档案 API
  description: Move your app forward with the SSC API
  version: "1.0.0"
# the domain of the service
host: api.yyssc.org
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /plat/basedoc
consumes:
  - application/json
produces:
  - application/json
paths:
  /qrybd?uid={uid}:
    x-swagger-router-controller: qrybd
    get:
      description: 查询基本档案
      tags:
        - BaseDoc
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessModel'
        '404':
          description: Not Found
      parameters:
        - required: true
          type: string
          name: uid
          in: path
      produces:
        - application/json
definitions:
  SuccessModel:
    type: object
    properties:
      success:
        type: boolean
        description: 标志成功还是失败
      message:
        type: string
        description: 当失败的时候用于显示失败信息
      fields:
        type: array
        description: 字段模型
        items:
          $ref: '#/definitions/FieldModel'
      data:
        type: object
        properties:
          currentItemCount:
            type: integer
            description: 当前获取到数据的数量
          startIndex:
            type: integer
            description: 起始index
          totalItems:
            type: integer
            description: 总数量
          items:
            type: array
            description: 表格中的内容
            items:
              $ref: '#/definitions/RowDetail'
  FieldModel:
    type: object
    properties:
      label:
        type: string
        description: 字段显示名
      type:
        type: string
        description: 字段类型
  RowDetail:
    type: object
    properties:
      id:
        type: integer
      cols:
        type: array
        items:
          $ref: '#/definitions/FieldDetail'
  FieldDetail:
    type: object
    properties:
      label:
        type: string
        description: 字段显示名
      type:
        type: string
        description: 字段类型
      value:
        type: string
        description: 字段值
