swagger: '2.0'
info:
  title: SSC 3.0 基础档案 API
  description: Move your app forward with the SSC API
  version: "1.0.0"
# the domain of the service
host: api.yyssc.org
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /
produces:
  - application/json
paths:
  /plat/basedoc:
    # binds swagger app logic to a route
    x-swagger-router-controller: basedocs
    get:
      description: 返回所有基础档案类型
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BaseDocsModel'
  /ficloud_pub_ctr/initgrid:
    x-swagger-router-controller: basedoc
    post:
      description: 查询基本档案
      tags:
        - BaseDoc
      consumes:
      - application/x-www-form-urlencoded
      produces:
      - application/json
      parameters:
        - required: true
          type: string
          name: doctype
          in: formData
          description: 基础档案类型，比如`dept`
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessModel'
        '404':
          description: Not Found
  /plat/basedoc/qrybd:
    x-swagger-router-controller: qrybd
    get:
      description: 查询基本档案（废弃接口）
      tags:
        - BaseDoc
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessModel'
        '404':
          description: Not Found
      parameters:
        - required: true
          type: string
          name: id
          in: query
          description: 基础档案ID
      produces:
        - application/json
definitions:
  BaseDocsModel:
    type: array
    items:
      $ref: "#/definitions/BaseDocsItemModel"
  BaseDocsItemModel:
    type: object
    properties:
      id:
        type: string
        description: 基础档案类型ID
      name:
        type: string
        description: 基础档案类型名称（中文）
  SuccessModel:
    type: object
    required:
    - success
    - message
    - fields
    - body
    properties:
      success:
        type: boolean
        description: 标志成功还是失败
      message:
        type: string
        description: 当失败的时候用于显示失败信息
      fields:
        type: array
        description: 字段模型
        items:
          $ref: '#/definitions/FieldModel'
      body:
        $ref: '#/definitions/Table'
  Table:
    type: object
    required:
    - currentItemCount
    - startIndex
    - totalItems
    - items
    properties:
      currentItemCount:
        type: integer
        description: 当前获取到数据的数量
      startIndex:
        type: integer
        description: 起始index
      totalItems:
        type: integer
        description: 总数量
      items:
        type: array
        description: 表格中的内容
        items:
          $ref: '#/definitions/RowDetail'
    example:
      success: true
      message: Success to load data
      fields:
      - label: 公司
        type: string
      data:
        currentItemCount: 5
        startIndex: 1
        totalItems: 22
        items:
        - id: 1
          cols:
          - label: 公司
            type: string
            value: 用友网络科技股份有限公司
          - label: 优点
            type: string
            value: 5点下班
          - label: 缺点
            type: string
            value: 出差
  FieldTypeModel:
    type: string
    description: |
      字段类型，复用iWeb原有类型，出现问题再进行改进。
      - `string 0`, 文本类型
      - `integer 1`, 整数类型
      - `double 2`, 数量(double)类型
      - `date 3`, 日期类型，不带带具体时分秒
      - `datetime 8`, 日期类型
      - `boolean 4`, 逻辑类型，
      - `enum 6`, 枚举类型，
      - `ref 5`, 参照类型
      - `text 9`, 文本区域类型
    enum:
    - string
    - integer
    - double
    - date
    - datetime
    - boolean
    - enum
    - ref
    - text
  FieldModel:
    type: object
    required:
    - lable
    - key
    properties:
      lable:
        type: string
        description: 字段显示名
      key:
        $ref: '#/definitions/FieldTypeModel'
      datatype:
        type: integer
        description: 字段类型，对于`date`来说，应该是`3`
      length:
        type: integer
        description: 存储的字节数
      digit:
        type: integer
        description: 小数位数
      data:
        type: object
        description: 枚举类型存储数据用
      refinfo:
        type: string
        description: 参照类型存储参照ID使用
    example:
      key: string
      lable: 字符
      datatype: 0
      length: 40
  RowDetail:
    type: object
    required:
    - id
    - cols
    properties:
      id:
        type: integer
      cols:
        type: array
        items:
          $ref: '#/definitions/FieldDetail'
    example:
      id: 1
      cols:
      - label: 公司
        type: string
        value: 用友网络科技股份有限公司
      - label: 优点
        type: string
        value: 5点下班
      - label: 缺点
        type: string
        value: 出差
  FieldDetail:
    type: object
    required:
    - label
    - type
    - value
    properties:
      label:
        type: string
        description: 字段显示名
      type:
        type: string
        description: 字段类型
      value:
        type: string
        description: 字段值
    example:
      label: 公司
      type: string
      value: 用友网络科技股份有限公司
