swagger: '2.0'
info:
  title: SSC 3.0 基础档案 API
  description: Move your app forward with the SSC API
  version: "1.0.0"
# the domain of the service
host: api.yyssc.org
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /plat/basedoc
produces:
  - application/json
paths:
  /qrybd:
    x-swagger-router-controller: qrybd
    get:
      description: 查询基本档案
      tags:
        - BaseDoc
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SuccessModel'
        '404':
          description: Not Found
      parameters:
        - required: true
          type: string
          name: id
          in: query
          description: 基础档案ID
      produces:
        - application/json
definitions:
  SuccessModel:
    type: object
    required:
    - success
    - message
    - fields
    - data
    properties:
      success:
        type: boolean
        description: 标志成功还是失败
      message:
        type: string
        description: 当失败的时候用于显示失败信息
      fields:
        type: array
        description: 字段模型
        items:
          $ref: '#/definitions/FieldModel'
      data:
        type: object
        required:
        - currentItemCount
        - startIndex
        - totalItems
        - items
        properties:
          currentItemCount:
            type: integer
            description: 当前获取到数据的数量
          startIndex:
            type: integer
            description: 起始index
          totalItems:
            type: integer
            description: 总数量
          items:
            type: array
            description: 表格中的内容
            items:
              $ref: '#/definitions/RowDetail'
    example:
      success: true
      message: Success to load data
      fields:
      - label: 公司
        type: text
      data:
        currentItemCount: 5
        startIndex: 1
        totalItems: 22
        items:
        - id: 1
          cols:
          - label: 公司
            type: text
            value: 用友网络科技股份有限公司
          - label: 优点
            type: text
            value: 5点下班
          - label: 缺点
            type: text
            value: 出差
  FieldModel:
    type: object
    required:
    - label
    - type
    properties:
      label:
        type: string
        description: 字段显示名
      type:
        type: string
        description: 字段类型
    example:
      label: 公司
      type: text
  RowDetail:
    type: object
    required:
    - id
    - cols
    properties:
      id:
        type: integer
      cols:
        type: array
        items:
          $ref: '#/definitions/FieldDetail'
    example:
      id: 123
      cols:
      - label: 公司
        type: text
        value: 用友网络科技股份有限公司
      - label: 优点
        type: text
        value: 5点下班
      - label: 缺点
        type: text
        value: 出差
  FieldDetail:
    type: object
    required:
    - label
    - type
    - value
    properties:
      label:
        type: string
        description: 字段显示名
      type:
        type: string
        description: 字段类型
      value:
        type: string
        description: 字段值
    example:
      label: 公司
      type: text
      value: 用友网络科技股份有限公司
