/** 通用色变量 */
/* 通用设置 */
.btn-default:focus,
.btn-default:hover {
  background-color: #f1f1f1;
}
.btn-default:active:hover {
  background-color: #f1f1f1;
}
/* form begin */
.form-horizontal {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.form-horizontal .control-label {
  font-weight: 400;
  line-height: 34px;
  padding: 0;
  margin: 0;
}
.form-horizontal #formControl-danjuriqi {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group button {
  width: 80px;
  height: 34px;
  margin-right: 20px;
  background-image: none;
}
.form-horizontal .form-group button[type="submit"] {
  color: #ffffff;
  background-color: #1baede;
}
.form-horizontal .form-group button[type="submit"]:hover {
  background-color: #189cc7;
}
/** form over **/
/** table begin **/
.table-striped {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #cecece;
}
.table-striped > thead > tr > th,
.table-striped > tbody > tr > td {
  border: 0;
  border-top: 1px solid #cecece;
}
.table-striped > thead > tr {
  background-color: #eeeff1;
}
.table-striped > thead > tr > th {
  padding: 10px;
  font-weight: 400;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ffffff;
}
.table-striped > tbody > tr:hover {
  background-color: #e9f7fc;
}
.table-striped > tbody > tr:focus,
.table-striped > tbody > tr:active {
  background-color: #c4eaf6;
}
.table-striped > tbody > tr > td {
  font-size: 12px;
  padding: 10px;
  height: 45px;
  vertical-align: middle;
}
.table-striped > tbody > tr > td .glyphicon {
  color: transparent;
  width: 20px;
}
.table-striped > tbody > tr:hover > td .glyphicon {
  display: inline-block;
  color: #1baede;
}
.table-striped > tbody > tr:focus > td .glyphicon {
  display: inline-block;
  color: #1baede;
}
.table-striped > tbody > tr:hover > td .glyphicon:hover {
  color: #13799b;
  cursor: pointer;
}
.table-striped > tbody > tr:focus > td .glyphicon:hover {
  color: #13799b;
  cursor: pointer;
}
/** table over **/

/* add by chenyang */

.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
